<div *ngIf = "dataLoaded | async">
  <app-widgets-dropdown [originalMetrics]="original_metrics_widget" [currentMetrics]="current_metrics_widget"></app-widgets-dropdown>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          <b>Fraud Classifier </b>
          <span cTooltip="Change the decision boundary to see how the different metrics that depict the historical transactions would react">
            <svg class="text-info" cIcon name="cilInfo"></svg>
          </span>
        </c-card-header>
        <c-card-body>
          <label cLabel for="sensitivity">Decision Boundary - <strong>{{current_threshold}}</strong></label>
          <input [(ngModel)]="current_threshold" id="slider" (change)="updateMetrics()"
                cFormControl
                id=""
                max="1"
                min="0"
                step="0.01"
                type="range" />
        </c-card-body>
        <c-card-footer>
          <c-row class="text-center" [md]="4" [xs]="2">
            <c-col class="mb-sm-2 mb-0">
              <div class="text-medium-emphasis">F1 Score
                <span cTooltip="F1 score measures a model's overall accuracy">
                  <svg class="text-info" cIcon name="cilInfo"></svg>
                </span>
              </div>
              <strong>{{ model_rates.f1 * 100 | number:'2.2-2' }}%</strong>
            </c-col>
            <c-col class="mb-sm-2 mb-0">
              <div class="text-medium-emphasis">Precision 
                <span cTooltip="Precision measures the percentage of transactions predicted as fraud that were correctly classified">
                  <svg class="text-info" cIcon name="cilInfo"></svg>
                </span>
              </div>
              <strong>{{ model_rates.precision * 100 | number:'2.2-2' }}%</strong>
            </c-col>
            <c-col class="mb-sm-2 mb-0">
              <div class="text-medium-emphasis">Recall 
                <span cTooltip="Recall measures the percentage of real fraud transactions that were correctly identified">
                  <svg class="text-info" cIcon name="cilInfo"></svg>
                </span>
              </div>
              <strong>{{ model_rates.recall * 100 | number:'2.2-2' }}%</strong>
            </c-col>
            <c-col class="mb-sm-2 mb-0">
              <div style="display: flex; align-items: center; margin-top: 7px;">
              <button type="button" class="btn btn-outline-success"><strong>Change Boundary</strong></button></div>
            </c-col>
          </c-row>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</div>

<div *ngIf = "loading | async">
  <div class="fade show" style="text-align: center; padding-top: calc(75vh / 2);"> <!--height: 100vh">-->
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Loading...</span>
  </div>
</div>
