<div class="row">
    <div class="column">
        <div class="col-lg-6">
            <c-chart type="radar" [data]="chartRadarData"></c-chart>
            <div style="text-align: center;">
                <b>Transaction Risk Score:</b> {{ risk_score | number:'1.4-4' }}
            </div>
        </div>
    </div>
    <div class="col-md-5 ms-auto inline" style="margin-top: -43%; margin-right: 3%;">
        <p align="justify">
            <br>
            Both the IP and the amount spent in the purchase are unlikely according to the historical patterns of this user. The payment has been blocked because it's likely to have suffered an <b>Account Takeover Attack</b>.  <br>
        </p>
    </div>
</div>
